
@{
    ViewData["Title"] = "Index";
}
@model Expire.io.DTOs.UserDTO;


<div class="card" style="width: 18rem;">
    @{ if (Model.Image != null)
        {
            @:<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image.Image))" class="card-img-top" alt="...">
        }
    }
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: @Model.Email</li>
        <li class="list-group-item">Phone: @Model?.Phone</li>
        <li class="list-group-item">UserName: @Model.</li>
    </ul>
</div>
